* {
    box-sizing: border-box;
    font-family: "Google Sans", Roboto, Arial, Sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/pixel-space.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.title {
    line-height: 64px;
    top: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
}

h1 {
    color: #FFF;
    filter: drop-shadow(03px0#5375a5);
    font-family: "Pixel Font";
    font-size: 38px;
}

#style-container {
    align-items: center;
    border: 2px solid #d1d1d1;
    display: none;
    height: 250px;
    left: 50%;
    position: absolute;
    top: 419px;
    transform: translate(-50%, -50%);
    width: 512px;
    z-index: 1;
}

#style-container::before {
    background: rgba(0, 0, 0, 0.2);
    content: "";
    height: 512px;
    left: -2px;
    position: absolute;
    width: 512px;
    z-index: -1;
}

.container {
    height: 100%;
    width: 40%;
}

.container-left>button {
    height: 25%;
}

.container-right>button {
    height: 33.33333%;
}

.container-middle {
    background: rgba(0, 0, 0, 0);
    border: none;
    width: 20%;
}

.container>button {
    background: #6b9ed7;
    border: none;
    color: #FFF;
    transition: all .2s ease;
    width: 100%;
}

button>img {
    height: 22px;
    pointer-events: none;
    position: relative;
    top: 2px;
    width: 22px;
}

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 512px;
}

.container-container {
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.grid-container {
    align-content: space-between;
    background: #FFF;
    border: 2px solid #f6f9ff;
    box-shadow: 0 6px 0 rgba(32, 33, 36, 0.16);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 26px 0 22px;
}

#new-grid {
    background: #6b9ed7;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    min-height: 36px;
    min-width: 200px;
    position: relative;
    top: 50px;
    transition: all .3s ease;
    margin: 12px;
    padding: 0 24px;
}

#style-menu {
    background: #6b9ed7;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 36px;
    left: 150px;
    position: relative;
    top: 2px;
    transition: all .3s ease;
    width: 40px;
}

.container>button:hover, #new-grid:hover, #style-menu:hover {
    background: #d76b9c;
}

@media only screen and max-width 550px {
    h1 {
        font-size: 30px;
    }
}