* {
    box-sizing: border-box;
    font-family: "Google Sans", Roboto, Arial, Sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/pixel-space.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body, main {
    height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 512px;
}

h1 {
    color: #FFF;
    filter: drop-shadow(0 3px 0#5375A5);
    font-family: "Pixel Font";
    font-size: 38px;
    line-height: 50px;
    text-align: center;
}

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 512px;
    position: relative;
}

#style-container {
    align-items: center;
    border-top: 2px solid #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    display: none;
    height: 250px;
    position: absolute;
    margin-bottom: 44px;
    width: 100%;
    z-index: 1;
}

#style-container::before {
    background: rgba(0, 0, 0, 0.2);
    content: "";
    padding-top: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.container-left, .container-right {
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    width: 40%;
}

.container-left>button {
    flex-grow: 1;
}

#color::-moz-color-swatch {
    border: none;
}

.container-right>button {
    flex-grow: 1;
}

.container-middle {
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    width: 20%;
}

.container>button {
    background: #6B9ED7;
    border: none;
    color: #FFF;
    cursor: pointer;
    transition: all .2s ease;
    width: 100%;
}

button>img {
    height: 22px;
    pointer-events: none;
    position: relative;
    top: 2px;
    width: 22px;
}

.container-container {
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.grid-container {
    align-content: space-between;
    background: #FFF;
    border: 2px solid #F6F9FF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 26px 0 22px;
}

#new-grid {
    background: #6B9ED7;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    min-height: 36px;
    min-width: 200px;
    position: relative;
    top: 50px;
    transition: all .3s ease;
    margin: 12px;
    padding: 0 24px;
}

#style-menu {
    background: #6B9ED7;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 36px;
    left: 150px;
    position: relative;
    top: 2px;
    transition: all .3s ease;
    width: 40px;
}

.container>button:hover, #new-grid:hover, #style-menu:hover {
    background: #D76B9C;
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 7vw;
    }
}